@import "tailwindcss";

html,
body {
  width: 100vw;
  background-color: black;
  color: white;
}


@theme {
  --color-white-50:#d9ecff; 
  --color-blue-100:#2d2d38;
}

@layer utilities{
  .flex-center{
    @apply flex justify-center items-center;
  }
}


  .hero-layout {
    @apply relative z-10 xl:mt-20 mt-32 md:h-dvh h-[80vh] flex xl:items-center items-start justify-center;
  }

  .hero-text {
    @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;
    img {
      @apply size-8 md:size-10 object-contain;
    }
    .slide {
      @apply absolute pt-0 px-2 md:px-5 py-[30px] h-[48px] md:h-[78px] md:translate-y-1 translate-y-0 overflow-hidden;
    }
  }

  
